<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. Maybe you don't know where to start reading today. Why not <a href="https://www.lds.org/scriptures/<%- work %>/<%- book -%>/<%- chapter %>.<%- verse %>?lang=eng<%- anchor %>">read this</a>?</p>
  </body>
</html>
